{{>top}}
      <div class="p-3 flex-grow-1">
        <h1>Files</h1>
        <p><a href="{{scriptName}}/upload/">New<a>.</p>
        <ul>
          {{#files}}
          <li><a href="{{url}}">{{{name}}}<a></li>
          {{/files}}
        </ul>
      </div>
{{>bottom}}
